.sidebar-nav {
    list-style: none;
    margin-top: 5px;
    white-space: nowrap;
 }

.card {
    height: 430px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 300px;
 }

.card-img-top {
    height: 75%;
    object-fit: contain;
}
